<html>
  <head>
    <title>Swachh Bharat</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/login.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/static/finally.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <style>
      td{
          text-align: center;
          vertical-align: middle;
        }
      .labels{
        text-align:center;
      }

      a i{
        font-size:25px;
        padding-right:10px;
        transition-duration:0.3s;
      }

      a i:hover{
        filter:invert(50%);
      }

      #lastEle{
        padding-right:0px;
      }
    </style>

  </head>

  <body>

    <div class="navbar" id="navID">

      <a href = "https:\\www.dscmanipal.com">
        <img src = "/static/dsclogo.png" height="50px">
      </a>

      <span id="powered">

        Powered by DSC Manipal

      </span>

    </div>

    <div class = "container">

      <div id="flexLegend">

        <div id = "profile">

        </div>

      </div>

      <div id="parent">

        <form action="/registering" method="post" id="regForm">

          <div class="questionBlock">


            <img src="/static/swachhlogo.jpg" style="margin-bottom:20px;width:93%"><br/>

            <table width="100%">

                <tr>
                  <td><div class="labels" id="scoreDis"></div></td>
                </tr>
                <tr>
                  <td><div class="labels">Follow us on Social Media</div></td>
                </tr>
                <tr>
                  <td>
                      <a href="https://www.facebook.com/dscmanipal/"><i class="fab fa-facebook-square"></i></a>&nbsp&nbsp
                      <a href="https://www.linkedin.com/company/dsc-manipal/"><i class="fab fa-linkedin"></i></a>&nbsp&nbsp
                      <a href="https://medium.com/dsc-manipal"><i class="fab fa-medium"></i></a>&nbsp&nbsp
                      <a href="mailto:desc.manipal@gmail.com"><i class="fas fa-envelope" id="lastEle"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><div class="labels" style="padding-top:10px">...and don't forget to keep your city clean.</div></td>
                </tr>
            </table>
          </div>
        </form>

      </div>

      <div id="flexCont">

        <div id="questionPane">


        </div>

      </div>

            <script>
              initScore();
            </script>

    </div>

  </body>

</html>
