<html>
  <head>
    <title>Swachh Bharat</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/login.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/static/verify_captcha.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>

  <body>

    <div class="navbar" id="navID">

      <a href = "https:\\www.dscmanipal.com">
        <img src = "/static/dsclogo.png" height="50px">
      </a>

      <span id="powered">

        Powered by DSC Manipal

      </span>

    </div>

    <div class = "container">

      <div id="flexLegend">

        <div id = "profile">

        </div>

      </div>

      <div id="parent">

        <form action="/registering" method="post" id="regForm">

          <div class="questionBlock">

            <table width="100%">

                <tr>
                  <td><div class="labels">Name</div></td>
                  <td><input type="text" name="name" placeholder="Name" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Registration Number</div></td>
                  <td><input type="text" name="regNum" placeholder="Registration Number" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Email</div></td>
                  <td><input type="email" name="email" placeholder="Email" class="quizOptions" required/></td>
                </tr>
                <!--tr>
                  <td colspan="2">
                    <div class="g-recaptcha" id="rcaptcha" data-sitekey="site key"></div>
                  </td>
                </tr-->
            </table>

          </div>
          <button class="questNav"><i class="fas fa-angle-double-right" style="padding-right:10px"></i>Login</button>

          <span id="captcha" style="color:red" /></span>
        </form>
      </div>

      <div id="flexCont">

        <div id="questionPane">


        </div>

      </div>

    </div>

  </body>

</html>
