<html>
  <head>
    <title>Swachh Bharat</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/login.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/reglog.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>

  <body>

    <div class = "container">

      <div id="flexLegend">

        <div id = "profile">

        </div>

      </div>

      <div id="parent">

        <button class="questNav" onclick="loginCall()">Already have an account? Login here.</button>

        <form action="/registering" method="post">

          <div class="questionBlock">

            <table width="100%">

                <tr>
                  <td><div class="labels">Name</div></td>
                  <td><input type="text" name="name" placeholder="Name" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Registration Number</div></td>
                  <td><input type="text" name="regNum" placeholder="Registration Number" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Email</div></td>
                  <td><input type="email" name="email" placeholder="Email" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Password</div></td>
                  <td><input type="password" name="pass" placeholder="Password" id="passW" class="quizOptions" required/></td>
                </tr>
                <tr>
                  <td><div class="labels">Confirm Password</div></td>
                  <td><input type="password" name="conf_pass" placeholder="Confirm Password" id="passC" class="quizOptions" required/></td>
                </tr>
            </table>
          </div>

          <button class="questNav" onclick="nextQuestion()"><i class="fas fa-angle-double-right" style="padding-right:10px"></i>Login</button>
        </form>
      </div>

      <div id="flexCont">

        <div id="questionPane">


        </div>

      </div>

    </div>

  </body>

</html>
