<html>
  <head>
    <title>Swachh Bharat</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/design.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src = "/static/editions.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>

  <body>

    <div class = "container">

      <div id="flexLegend">

        <div id = "profile">



        </div>

      </div>

      <div id="parent">

        <button class="questNav" id="aboveTime" onclick="prevQuestion()"> <i class="fas fa-chevron-circle-left" style="padding-right:10px"></i>Previous</button>
        <button class="questNav" id="time">30:00</button>

        <div class="questionBlock">

          <div id="question"></div>
          <input id = 'option1' class="quizOptions" type = 'button' value = '' onclick="selectedOption(this.id)" onmouseover="hovereffect(this.id)" onmouseout="dehover(this.id)"/>
          <input id = 'option2' class="quizOptions" type = 'button' value = '' onclick="selectedOption(this.id)" onmouseover="hovereffect(this.id)" onmouseout="dehover(this.id)"/>
          <input id = 'option3' class="quizOptions" type = 'button' value = '' onclick="selectedOption(this.id)" onmouseover="hovereffect(this.id)" onmouseout="dehover(this.id)"/>
          <input id = 'option4' class="quizOptions" type = 'button' value = '' onclick="selectedOption(this.id)" onmouseover="hovereffect(this.id)" onmouseout="dehover(this.id)"/>

          <div id="markedSymbol"><i class="fas fa-clipboard-check" style="padding-right:10px"></i> This question is marked.</div>

          <br/>
          <hr></hr>

          <button class="toggle" id="legendViewer" onclick="submit()">End Quiz</button>
          <button class="toggle" id="questionsViewer" onclick="viewQuestion()">View Questions</button>

        </div>

        <button class="questNav" onclick="nextQuestion()"><i class="fas fa-angle-double-right" style="padding-right:10px"></i>Next</button>
        <button class="questNav" onclick="markQuestion()">
          <i class="fas fa-highlighter" id="marked"></i>
          <i class="fas fa-eraser" id="unmarked"></i>
          <span id="markRev">Mark For Review</span>
        </button>

      </div>

      <div id="flexCont">

        <div id="questionPane">


          <span id = "closeLegend" style="color:white;font-size:15;margin-top: 10px;top:2%;position:absolute;margin-left:2px;cursor:pointer" onclick="viewQuestion()"><i class="far fa-times-circle"></i> Close Questions</span>

          <div id="innerPane">

            <h3 style="color:white">Questions</h3>
            <hr color="white" style="margin-right:8px"></hr>

            <script type="text/javascript">

              initQuests()

            </script>

            <h3 style="color:white">Legend</h3>
            <hr color="white" style="margin-right:8px"></hr>

            <div id="innerLegend">

              <div id="legend">

                <div style="color:white">

                  If you have NOT chosen an option:

                  <br/>
                  <br/>

                  <span style="padding:0px 9px 0px 9px;border-radius:20px;background-color:white"></span>
                    &nbsp => Unmarked Question
                  <br/>
                  <br/>
                  <span style="padding:0px 9px 0px 9px;border-radius:20px;background-color:rgb(247, 206, 85)"></span>
                    &nbsp => Marked for Review
                  <br/>
                  <br/>

                  If you have chosen an option:

                  <br/>
                  <br/>

                  <span style="padding:0px 9px 0px 9px;border-radius:20px;background-color:rgb(83, 172, 83)"></span>
                    &nbsp => Unmarked Question
                  <br/>
                  <br/>
                  <span style="padding:0px 9px 0px 9px;border-radius:20px;background-color:rgb(143, 61, 143)"></span>
                    &nbsp => Marked for Review
                </div>

              </div>

            </div>


          </div>

        </div>
      </div>

    </div>

    <form action="/done" method="post" id="finalSubmit">
      <input type="hidden" value="none" name="checked" id="hiddenVal"/>
    </form>

  </body>

  <script type="text/javascript">

    prevQuestion();

  </script>

</html>
