h1{
  color: red;
}
.quizOptions{
  display: block;
  margin-bottom: 10px;
  width: 50%;
  backgroundColor: blue;
  color:white
}
.quizNavigate{
  display: inline;
  margin: 10px;
  align-self: center;
  width: 30%;
  background-color: #454545;
  color: #fff;
  padding: 20px;
}

.questNav{
  padding: 10px;
  margin: 10px;
  width: 40%
}

#parent{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 0;
  align-self: center;
}

#profile{
  flex: 1 1 0;
}

#questionPane{
  flex: 1 1 0;
}

.container{
  width: inherit;
  display: flex;
  flex-direction: row;
  align-content:stretch;
}

body{
  width: 100%;
}
