h1{
  color: red;
}
.quizOptions{
  display: block;
  margin-bottom: 10px;
  width: 50%;
  backgroundColor: blue;
  color:white 
}
.quizNavigate{
  display: inline;
  margin: 10px;
  align-self: center;
  width: 30%;
  background-color: #454545;
  color: #fff;
  padding: 20px;
}

.questNav{
  padding: 10px;
  margin: 10px;
  width: 40%
}
